<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaintservlet</servlet-name>
        <servlet-class>complaintservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fir</servlet-name>
        <servlet-class>fir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>petition</servlet-name>
        <servlet-class>petition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fir_status</servlet-name>
        <servlet-class>fir_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registeruser</servlet-name>
        <servlet-class>Registeruser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>witnessservlet</servlet-name>
        <servlet-class>witnessservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admincomplaint</servlet-name>
        <servlet-class>admincomplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inner_status</servlet-name>
        <servlet-class>inner_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criminal_records</servlet-name>
        <servlet-class>criminal_records</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criminal_records1</servlet-name>
        <servlet-class>criminal_records1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminwitness</servlet-name>
        <servlet-class>adminwitness</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assault</servlet-name>
        <servlet-class>assault</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>battery</servlet-name>
        <servlet-class>battery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kidnapping</servlet-name>
        <servlet-class>kidnapping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homicide</servlet-name>
        <servlet-class>homicide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sexual_assault</servlet-name>
        <servlet-class>sexual_assault</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>larceny</servlet-name>
        <servlet-class>larceny</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>robbery</servlet-name>
        <servlet-class>robbery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulgery</servlet-name>
        <servlet-class>bulgery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>arzon</servlet-name>
        <servlet-class>arzon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>embezzlement</servlet-name>
        <servlet-class>embezzlement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgery</servlet-name>
        <servlet-class>forgery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>false_pretenses</servlet-name>
        <servlet-class>false_pretenses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attempt</servlet-name>
        <servlet-class>attempt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>solicitation</servlet-name>
        <servlet-class>solicitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conspiracy</servlet-name>
        <servlet-class>conspiracy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alocohol_crimes</servlet-name>
        <servlet-class>alocohol_crimes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selling_alocohol_minor</servlet-name>
        <servlet-class>selling_alocohol_minor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lk</servlet-name>
        <servlet-class>lk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status1</servlet-name>
        <servlet-class>status1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaintservlet</servlet-name>
        <url-pattern>/complaintservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fir</servlet-name>
        <url-pattern>/fir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petition</servlet-name>
        <url-pattern>/petition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fir_status</servlet-name>
        <url-pattern>/fir_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registeruser</servlet-name>
        <url-pattern>/Registeruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>witnessservlet</servlet-name>
        <url-pattern>/witnessservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincomplaint</servlet-name>
        <url-pattern>/admincomplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inner_status</servlet-name>
        <url-pattern>/inner_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criminal_records</servlet-name>
        <url-pattern>/criminal_records</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criminal_records1</servlet-name>
        <url-pattern>/criminal_records1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminwitness</servlet-name>
        <url-pattern>/adminwitness</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assault</servlet-name>
        <url-pattern>/assault</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>battery</servlet-name>
        <url-pattern>/battery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kidnapping</servlet-name>
        <url-pattern>/kidnapping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homicide</servlet-name>
        <url-pattern>/homicide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sexual_assault</servlet-name>
        <url-pattern>/sexual_assault</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>larceny</servlet-name>
        <url-pattern>/larceny</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>robbery</servlet-name>
        <url-pattern>/robbery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulgery</servlet-name>
        <url-pattern>/bulgery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arzon</servlet-name>
        <url-pattern>/arzon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>embezzlement</servlet-name>
        <url-pattern>/embezzlement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgery</servlet-name>
        <url-pattern>/forgery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>false_pretenses</servlet-name>
        <url-pattern>/false_pretenses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attempt</servlet-name>
        <url-pattern>/attempt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>solicitation</servlet-name>
        <url-pattern>/solicitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conspiracy</servlet-name>
        <url-pattern>/conspiracy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alocohol_crimes</servlet-name>
        <url-pattern>/alocohol_crimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selling_alocohol_minor</servlet-name>
        <url-pattern>/selling_alocohol_minor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lk</servlet-name>
        <url-pattern>/lk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status1</servlet-name>
        <url-pattern>/status1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
</web-app>
