<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaintservlet</servlet-name>
        <servlet-class>complaintservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fir</servlet-name>
        <servlet-class>fir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>petition</servlet-name>
        <servlet-class>petition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fir_status</servlet-name>
        <servlet-class>fir_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registeruser</servlet-name>
        <servlet-class>Registeruser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaintservlet</servlet-name>
        <url-pattern>/complaintservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fir</servlet-name>
        <url-pattern>/fir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petition</servlet-name>
        <url-pattern>/petition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fir_status</servlet-name>
        <url-pattern>/fir_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registeruser</servlet-name>
        <url-pattern>/Registeruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
</web-app>
