<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>complaintservlet</servlet-name>
        <servlet-class>complaintservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fir</servlet-name>
        <servlet-class>fir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>petition</servlet-name>
        <servlet-class>petition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fir_status</servlet-name>
        <servlet-class>fir_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registeruser</servlet-name>
        <servlet-class>Registeruser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>witnessservlet</servlet-name>
        <servlet-class>witnessservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admincomplaint</servlet-name>
        <servlet-class>admincomplaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inner_status</servlet-name>
        <servlet-class>inner_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criminal_records</servlet-name>
        <servlet-class>criminal_records</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criminal_records1</servlet-name>
        <servlet-class>criminal_records1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>complaintservlet</servlet-name>
        <url-pattern>/complaintservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fir</servlet-name>
        <url-pattern>/fir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petition</servlet-name>
        <url-pattern>/petition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fir_status</servlet-name>
        <url-pattern>/fir_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registeruser</servlet-name>
        <url-pattern>/Registeruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>witnessservlet</servlet-name>
        <url-pattern>/witnessservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincomplaint</servlet-name>
        <url-pattern>/admincomplaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inner_status</servlet-name>
        <url-pattern>/inner_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criminal_records</servlet-name>
        <url-pattern>/criminal_records</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criminal_records1</servlet-name>
        <url-pattern>/criminal_records1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>reg</servlet-class>
    </servlet>
</web-app>
